
/* EVERYTHING */
/*------------*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	background: url(../images/hidden-edinburgh.jpg) no-repeat fixed 50%;
	background-size: cover; /*updates the image to be cover size and re-crops to match aspect ratio*/	
}

p{
	font-family: "roboto";
}

h1, h2, h3 {
    font-weight: 400;
    margin: 0;
}

h2{
	font-size: 32px;
}

a {
	transition: all 0.5s;
}

.content-wrapper {
	max-width: 1000px;
	width: 90%;
	margin: 0 auto;
	padding: 60px 0;
}

.clearfix:after { /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.download {
  background: #16a085;
  position: fixed;
  color: white;
  top: 0;
  right: 0;
  display: block;
  padding: 18px;
  text-decoration: none;
}

.item {
    border-bottom: 1px solid #ccc;
}

.item:last-child {
    border-bottom: none;
}

/* HEADER */
header{
    text-align: center;
    padding: 150px 0;
    font-family: "Pacifico", Helvetica cursive;
    /*font-family: font-family: Pacifico, cursive;*/
    /*font-family: Courier, Helvetica;*/
	  color:#33001A;
}

header h1{
  font-size: 100px;
}

header h2{
    font-family: "roboto";
    color:#CCCCCC;
}

/*PROFILE SECTION*/
.profile{
 	background: #fefefc;
 	background: rgba(0,0,0,.7);
 	color:#EBFFE0; 
}

.profile h2:hover {
  transform: rotate(4deg);
}

.profile h1,
.profile h3,
.profile h2{
	/*font-family: Courier;*/
	/*color:#F5F5F0;*/
}

.profile h2 {
    border: none;
    display: inline-block;
    padding: 10px 20px;
    background: #33001A;
}

.profile p{
  font-size: 24pt;
}

 .profile img {
    float: left;
    width: 27%;
    margin-right: 3%;
 }
 
 .profile img {
    border-radius: 50%;
}

 .summary {
     width: 70%;
     float: right;
 }

/*WORK SECTION*/
.work-experience h1,
.work-experience h2{
	/*font-family: Courier;*/
	color:#5C3348;

}

.work-experience h2{
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	color: #5C3348;
  font-family: "Pacifico", Helvetica cursive;
}

.work-experience{
	background: #fefefc;
 	background: rgba(0,0,0,1);
 	color:#EBFFE0;
  font-size: 18pt; 
}

 .work-experience .details {
     width: 30%;
     float: left;
 }

 .work-experience .description {
     width: 70%;
     float: right;
 }

 .work-experience img{
  border-radius: 20%;
  padding: 10px;
 }

 .description strong{
    color:#5C3348;
    font-size: 20pt;
 }

/*DETAILS*/
.details {
	/*font-family: Courier;	*/
}

/*SKILLS SECTION*/
.skills{
	text-align: center;
  	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url(../images/Cramond-Falls.jpg) no-repeat fixed;
  	background-size: cover;
  	color:#EBFFE0; 
}

.list-float{
	/*float: left;*/
	width: 25%; 
}

.skills h1,
.skills h2,
.skills h3{
	text-align: center;
}

.skills h2{
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	color: #5C3348;
  font-family: "Pacifico", Helvetica cursive;
  font-size: 35pt;
}

.skills h3{
  font-size: 28pt;
}

.skills .columns {
  width: 33.33%;
  float: left;
  margin: 0 auto;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.list-float{
	display: inline;
	text-align: center;
}

.skills-circles-ul{
	text-align: center;
}

.skills-circles ul li {
  	height: 150px;
  	width: 150px;
  	line-height: 150px;
  	display: inline-block;
  	padding: 0 10px;
  	border: 2px solid #471931;
  	border-radius: 50%;
  	background: black;
}

.skills-circles span {
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
}

.skills p{
  font-size: 18pt;
  text-align: left;
}

/*EDUCATION SECTION*/
.education{
 	background: #CCCCCC;
}

.education h2{
	border-bottom: 1px solid #000;
	margin-bottom: 30px;
	color: #471931;
  font-family: "Pacifico", Helvetica cursive;
  font-size: 35pt;
}

/*CONTACT SECTION*/

.contact h2{
	border-bottom: 1px solid #ccc;
	margin-bottom: 30px;
	color: #5C3348;
  font-family: "Pacifico", Helvetica cursive;
  font-size: 35pt;
}

.contact{
	color:#FFFFFF;
	background: #000000;
 	/*background: rgba(0,0,0,0.1);*/
}

.social {
	font-family: "roboto";
  	width: 50%;
  	float: right;
  	text-align: right;
  	font-size: 50px;
}


.contact a{
  color: #471931;
  font-size: 50pt;
  font-weight: 10;

}

.contact a:hover{
	color: white;
}

